{% extends 'base.html' %}
{% load static %}

{% block body %}
<br><br><br>
<link rel="stylesheet" href="{%static 'css/userlogin.css' %}">

<div class="container">
    <div class="jumbotron">
      <center><h2 style='background-color:black; color:yellow'>Register Here</h2><br>
       <form action="." method="POST" enctype="multipart/form-data"> {% csrf_token %}
       <h4 style='color:black'> {{form.as_p}} </h4>
        <button type="submit" name="button" class="btn btn-success">User Registration</button> &nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/home/" class="btn btn-light" >Back</a>
      </form> </center>
    </div>
</div>

{% endblock %}
