{% extends 'base.html' %}

{% block body %}

    <b>HR: {{request.user.username}}</b>   <!-- OR ===> {{request.user}} ==> ye inbuilt user ka username hai -->
    <form class="" action="{% url 'additjob' %}" method="POST"> {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Add Job</button>
    </form> <br> <br>
    <form class="" action="/logout/" method="POST"> {% csrf_token %}
      <button type="submit" name="button">LOGOUT</button>
    </form> <br>

{% endblock %}
