{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{%static 'css/recruiter.css' %}">
<br> <br>
    <div class="container">
      <div class="jumbotron">
  <h2><p>Hello RECRUITER, If you are visiting our website for the first time then please register yourself on the below registration button.</p>
    <p> If you already have an account then please Login by clicking the below login button.</p></h2>
    <br>
  <center> <a href="/register/" class="btn btn-primary btn-lg">REGISTER</a> &nbsp&nbsp&nbsp&nbsp
    <a href="/login/" align=center class="btn btn-success btn-lg">LOGIN</a>  &nbsp&nbsp&nbsp&nbsp
      <a href="/home/" align=center class="btn btn-light ">Back</a> <center>
  </div>
  </div>

{% endblock %}
