<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="navbar-brand" href="#"><h1 style='color:orange'>Welcome to EasyJobs</h1></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="/userloginregister/">USER LOGIN <span class="sr-only">(current)</span></a>
      </li>&nbsp&nbsp&nbsp&nbsp&nbsp
      <li class="nav-item active">
        <a class="nav-link" href="/loginregister/">RECRUITER LOGIN</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:8000/admin/login/?next=/admin/">ADMIN</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
  <a href="/contact/" class='btn btn-light btn-lg'>CONTACT</a>
</form>
</div>

</nav>
