{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{%static 'css/resume.css' %}">
<br><br><br><br>
<div class="container">
    <div class="container">
        <div class="jumbotron">
            <center><h1 style='background-color:black; color:red'>Applied for the Jobs</h1><br><br><br>

            {% for x in users %}
            <h4>Name : <a href="{{x.resume.url}}">{{x.name}}</a> </h4>
            <hr>
            {% endfor %}</center>

        </div>
    </div>
</div> <br><br> <br>

<form class="" action="/logout/" method="POST"> {% csrf_token %}
  <button type="submit" name="button">LOGOUT</button>
</form> <br>
{% endblock %}
